@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Prompt', 'Segoe UI', system-ui, -apple-system, sans-serif;
}

body {
  @apply bg-sand-50 text-stone-800;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  @apply bg-sand-300 rounded-full;
}
